@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Roboto', sans-serif;
/*	text-align: center;*/
  	background:black;
  	width:inherit;
  	height:inherit;
	margin: auto;
    width: 60%;
    border: 3px solid;
    padding: 10px;
	
/*
  	overflow-x: hidden;
  	overflow-y: hidden;
*/
}

.ArtistPhoto{
	background-image:url(Interactive2_Project3_ArtistPhoto.png);
	width: 500px;
	position: absolute;
	top: 500px;
}

h1{
	font-size:100px;
	transform:rotate(-90deg);
	
	
}
.text{
	color:white;
}

