@charset "UTF-8";
/* CSS Document */

html{
	scroll-behavior:smooth;
		overflow-x: hidden;
  	overflow-y: hidden;
}
body{
	font-family: 'Roboto', sans-serif;
  	background:black;
  	width:inherit;
  	height:inherit;	
}

.textHover{
background:white;
}
/*

max-width

max-height
*/

.imageHover{
background:white;
}




.Item{
	min-height: 100vh;
  	display: flex;
  	align-items: center;
 	 justify-content: center;
}

.ArtistPhoto{
	cursor: pointer;
	max-width: 100%;
	max-height: inherit;
}

.textHover .ArtistPhoto {
	display:none;
}


/*
.Image{
	cursor: pointer;
	max-width: 100%;
	max-height: inherit;
}

.textHover .Image {
	display:none;
}

*/

.T1{
	font-size:73px;
	transform:rotate(-90deg);	
	position: absolute;
	left:15%;
	top:48%;
	color:white;
	display: flex;
	cursor: pointer;
/*	font-size: 4.5vw;*/
}

.textHover .T1 {
	color:black;
}

.T2{
	position: absolute;
	left:35%;
	top:21%;
	font-size:50px;
	color:white;
	cursor: pointer;
}

.textHover .T2 {
	color:black;
}


.T3{
	font-size:25px;
	position: absolute;
	left:35%;
	top:690px;
	color:white;
	cursor: pointer;
}
.textHover .T3 {
	color:black;
}

.T4{
	font-size:25px;
	position: absolute;
	left:51.3%;
	top:23.5%;
	color:white;
	cursor: pointer;
}
.textHover .T4 {
	color:black;
}

.T5{
	color:black;
	position: absolute;
	right:11.3%;
	top:50px;
	font-size: 15px;
	cursor: pointer;
}
.imageHover .T5{
	display: none;
}

#S{
	min-width: 100px;
	margin: 10px;
	margin-left: 10px;
	
}

S:hover{
	width:20vh;
	height:200px;
	backgorund:white;
	cursor: pointer;
}


					.A1a{
						font-size:70px;
						transform:rotate(-90deg);	
						position: absolute;
						left:21%;
						top:1520px;
						color:white;
						display: flex;
						cursor: pointer;
					}
.textHover .A1a {
	color:black;
}
				
					.A1b{					
						position: absolute;
						left:35%;
						top:1010px;
						font-size:50px;
						color:white;
						cursor: pointer;
					}
.textHover .A1b {
	color:black;
}

					.A1c{
						font-size:25px;
						position: absolute;
						left:35%;
						top:1760px;
						color:white;
						cursor: pointer;

					}
.imageHover .A1c {
	color:white;
}

imageHover{
background:white;
}

					.A1d{
						color:black;
						position: absolute;
						right:13%;
						top:1525px;
						font-size: 13px;
						cursor: pointer;
/*						padding-top: 120px;*/
/*						text-align: right;*/
					}


   td, th {
    text-align: left;
/*    padding: 3px;*/
  
}
					th{
/*						text-align: left;*/
						font-size: 12px;
				
					}


					td{
/*						text-align:left;*/
						font-size: 14px;
					}


.imageHover .A1d {
		display: none;
		}







												.B1a{
													font-size:75px;
													transform:rotate(-90deg);	
													position: absolute;
													left:20%;
													top:2475px;
													color:white;
													display: flex;
													cursor: pointer;
												}
							.textHover .B1a {
								color:black;
							}

												.B1b{					
													position: absolute;
													left:35%;
													top:1933px;
													font-size:50px;
													color:white;
													cursor: pointer;
												}
							.textHover .B1b {
								color:black;
							}

												.B1c{
													font-size:25px;
													position: absolute;
													left:35%;
													top:2713px;
													color:white;
													cursor: pointer;

												}
							.textHover .B1c {
								color:black;
							}

												.B1d{
													color:black;
													position: absolute;
													right:10%;
													top:2475px;
													cursor: pointer;
												}

							.imageHover .B1d {
							display: none;
							}

							
																		.C1a{
																			font-size:75px;
																			transform:rotate(-90deg);	
																			position: absolute;
																			left:20%;
																			top:3370px;
																			color:white;
																			display: flex;
																			cursor: pointer;
																}
													.textHover .C1a {
														color:black;
													}

																		.C1b{					
																			position: absolute;
																			left:35%;
																			top:2915px;;
																			font-size:50px;
																			color:white;
																			cursor: pointer;
																		}
													.textHover .C1b {
														color:black;
													}

																		.C1c{
																			font-size:25px;
																			position: absolute;
																			left:35%;
																			top:3605px;
																			color:white;
																			cursor: pointer;

																		}
													.textHover .C1c {
														color:black;
													}

																		.C1d{
																			color:black;
																			position: absolute;
																			right:13%;
																			top:3370px;
																			font-size: 13px;
																			cursor: pointer;
													/*						padding-top: 120px;
													/*						text-align: right;*/
																			z-index: -1;
																		}

													.imageHover .C1d{
														display: none;
														}




p{
color:white;
}

.A{
	
	padding: 5px;
	max-width:90%;
	max-height: inherit;
	cursor: pointer;
}


.Inv:hover{
	height:inherit;
	filter: invert(1)
}

.Showcases{
		cursor: pointer;
	max-width: 100%;
	max-height: inherit;
}
.Showcases:hover{
	width:inherit;
	width:600px;
	filter: invert(1)
}

.Image{
	
}

.textHover .Image {
	display:none;
}







								/* iPhone 6 */
								@media (min-width: 375px) and (max-width: 667px) { 

								 body {
								  background:black;
								 }

/*
									html{
									scroll-behavior:smooth;
											overflow-x: hidden;
  											overflow-y: 2000px;
								}
*/



								 #mobile{
								  opacity: 1;
								  position: absolute;
								  top: 10vh;
								  left: 10vw;
								 }

								 #desktop, #tablet, #print {
								  opacity: 0;
								 }
									.Item{
									min-height: 100vh;
									display: flex;
									align-items: center;
									 justify-content: center;
								}
													.T1{
													font-size:55px;
													transform:rotate(-90deg);	
													position: absolute;
													left:-43%;
													top:48%;
													color:white;
													display: flex;
													cursor: pointer;

												}
							.imageHover .T1 {
							display: none;
							}
												.T2{
													position: absolute;
													left:20%;
													top:24%;
													font-size:35px;
													color:white;
													cursor: pointer;
												}
												.T3{
													font-size:15px;
													position: absolute;
													left:20%;
													top:575px;
													color:white;
													cursor: pointer;
												}


												.T4{
													font-size:14px;
													position: absolute;
													left:68%;
													top:27%;
													color:white;
													cursor: pointer;
												}

												.T5{
													color:black;
													position: absolute;
													right:11.3%;
													top:225px;
													font-size: 7px;
													cursor: pointer;
													z-index: -1
												}

																			.A1a{
																				font-size:55px;
																				transform:rotate(-90deg);	
																				position: absolute;
																				left:-115px;
																				top:1120px;
																				color:white;
																				display: flex;
																				cursor: pointer;
																			}
														.imageHover .A1a {
															display: none;
															}

																			.A1b{					
																				position: absolute;
																				left:20%;
																				top:830px;
																				font-size:35px;
																				color:white;
																				cursor: pointer;
																			}
														.textHover .A1b {
															color:black;
														}

																			.A1c{
																				font-size:15px;
																				position: absolute;
																				left:20%;
																				top:1410px;
																				color:white;
																				cursor: pointer;

																			}
														.textHover .A1c {
															color:black;
														}

/*
														.imageHover{
														background:white;
														}
*/

																			.A1d{
																				color:black;
																				position: absolute;
																				right:13%;
																				top:1140px;
/*																				font-size: 7px;*/
																				cursor: pointer;
														/*						padding-top: 120px;*/
														/*						text-align: right;*/
																				z-index: -1;
																			}


														   td, th {
															text-align: left;
														/*    padding: 3px;*/

														}
																			th{
														/*						text-align: left;*/
																				font-size:9px;

																			}


																			td{
														/*						text-align:left;*/
																				font-size: 10px;
																			}



																				.B1a{
																					font-size:55px;
																					transform:rotate(-90deg);	
																					position: absolute;
																					left:-115px;
																					top:1850px;
																					color:white;
																					display: flex;
																					cursor: pointer;
																				}
															.textHover .B1a {
																color:black;
															}
															.imageHover .C1a {
															display: none;
															}

																				.B1b{					
																					position: absolute;
																					left:20%;
																					top:1575px;
																					font-size:35px;
																					color:white;
																					cursor: pointer;
																				}
															.textHover .B1b {
																color:black;
															}

																				.B1c{
																					font-size:15px;
																					position: absolute;
																					left:20%;
																					top:2175px;
																					color:white;
																					cursor: pointer;

																				}
															.textHover .B1c {
																color:black;
															}

																				.B1d{
																					color:black;
																					position: absolute;
																					right:10%;
																					top:1865px;
																					cursor: pointer;
																					z-index: -1;
																				}

															.imageHover .B1d {
															display: none;
															}


																										.C1a{
																											font-size:55px;
																											transform:rotate(-90deg);	
																											position: absolute;
																											left:-110px;
																											top:2615px;
																											color:white;
																											display: flex;
																											cursor: pointer;
																								}
																					.textHover .C1a {
																						color:black;
																					}
																					.imageHover .C1a {
																					display: none;
																					}

																										.C1b{					
																											position: absolute;
																											left:20%;
																											top:2365px;;
																											font-size:35px;
																											color:white;
																											cursor: pointer;
																										}
																					.textHover .C1b {
																						color:black;
																					}

																										.C1c{
																											font-size:15px;
																											position: absolute;
																											left:20%;
																											top:2895px;
																											color:white;
																											cursor: pointer;

																										}
																					.textHover .C1c {
																						color:black;
																					}

																										.C1d{
																											color:black;
																											position: absolute;
																											right:13%;
																											top:2635px;
																											font-size: 13px;
																											cursor: pointer;
																					/*						padding-top: 120px;
																					/*						text-align: right;*/
																										}

																					.imageHover .C1d{
																						display: none;
																						}











								}







